#landholding-index{
    display: flex;
    flex-direction: column;
}

.landholding-box{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 300px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

#landholding-header{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#landholding-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.landholding-info-bits{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons i{
    cursor: pointer;
    margin-left: 10px;
}

.landholding-box{
    padding: 10px;
}

label{
    font-weight: bold;
}