#landholding-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}  

#landholding-form label{
    display: flex;
    justify-content: space-between;
}

#landholding-form input{
    width: 50%;
}

#landholding-form select{
    width: 51.5%;
}

#mineral-owner-royalty{
    display: flex;
}

#landholding-form-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#button{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0274be;
    color: white;
    font-weight: bold;
}